{% extends "base.html" %}
{% block header %}
<style>
    img { 
        max-width: 100%; 
        height: auto; 
    }
    .recipe_modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #E3E3E3;
        margin: 15% auto; /* 15% from the top and centered */
        /* padding: 20px; */
        border: 1px solid #888;
        width: 70%; /* Could be more or less, depending on screen size */                          
    }
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

</style>
<script>
    $(document).ready(function () {
        $('.card-img').click(function () {
            var recipe_name = '#recipe_modal_' + $(this).attr('id');
            $(recipe_name).show();
        });

        $('.close').click(function(){
            $('.recipe_modal').hide();
        });

        //$('#StartCookson').click(function(){
        //    var roomName = "<%HttpContext.Current.User.Identity.Name %>";
        //    window.location.pathname = '/user/' + {{user.username}} + '/';
        //});
        
    });

</script>
{% endblock %}

{% block contents %}

<div class="container">
    {%if not user%}
    <p>You have to Login to use Cookson Services!</p>
    <button type="button" class="btn btn-primary" onclick="location.href='/user/login'">Sign in</button>
    <button type="button" class="btn btn-primary" onclick="location.href='/user/register'">Sign up</button>
    {% else %}
    <div class="container">
    {% for recipe in object_list %}
        <div id="recipe_modal_{{recipe.name}}" class="recipe_modal">
            <br><span class="close">&times;</span>
            <div class="modal-content text-center">    
                <h4>{{recipe.name}} 제조법</h4>
                <p>{{recipe.recipe | linebreaks}}</p>
                <button type="button" class="btn btn-primary" id="StartCookson" onclick="location.href='/user/ram'">Start Cookson!</button>
            </div>
        </div>
        <script>

        </script>
            
    {% if forloop.first %}
    <div class="row">
    {% endif %}
    <div class="col">
        <div class="card mb-3 text-center" style="border: 1px solid black;">
            <div class="row no-gutters">
                <div class="col-md-4" style="width : 200px; height : 200px;">
                    <img id="{{ recipe.name }}" src="{{ recipe.image.url }}" class="card-img" alt="..." style="height: 100%; width: 100%; overflow : hidden;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="border-top: 1px solid black;">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text"><small class="text-muted">Cookson-recipes</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
        {% if forloop.counter|divisibleby:2 %}
    </div><div class="row">
        {% endif %}
        {% if forloop.last %}</div>{% endif %}
        
        {% empty %}
        No Recipes yet.
        {% endfor %}
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}