{% extends "base.html" %}
{% block header %}
<title>Login Page</title>
<script>
    document.querySelector('#submit').focus();
    document.querySelector('#submit').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#submit').click();
        }
    };
        // document.querySelector('#login-submit').onclick = function (e) {
        //     var userID = document.querySelector('#login-submit').value;
        //     window.location.pathname = '/stream/' + roomName + '/';
        // };
</script>
{% endblock %}
{% block contents %}
<form method="POST" action=".">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
            placeholder="{{ field.label }}" name="{{ field.name }}">
    </div>
    {% if field.errors %}
    <span style="color : red">{{ field.errors }}</span>
    {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary" id="submit">Sign up</button>
    <button type="button" class="btn btn-primary" onclick="location.href='/user/login'">Sign in</button>
</form>
{% endblock %}
<!-- <div class="form-group">
    <label for="Registerid">ID</label>
    <input type="text" class="form-control" id="Registerid" name="Registerid">
</div>
<div class="form-group">
    <label for="Registerpw">Password</label>
    <input type="password" class="form-control" id="Registerpw" name="Registerpw">
</div>
<div class="form-group">
    <label for="Registerpw-confirm">Confirm Password</label>
    <input type="password" class="form-control" id="Registerpw-confirm" name="Registerpw-confirm" >
</div>
<button type="register-submit" class="btn btn-primary">Submit</button> -->